<footer class="app-footer">
  <div class="footer-section">
    <span>&copy; {{ currentYear }} LiveCanvas. All rights reserved.</span>
  </div>
  <div class="footer-section">
    <div class="footer-links">
      <a [href]="links.github" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-github"></i>
      </a>
      <a [href]="links.linkedin" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-linkedin"></i>
      </a>
      <a [href]="links.upwork" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-upwork"></i>
      </a>
    </div>
  </div>
</footer>
