<app-hero-section></app-hero-section>
<div class="container py-4">
  <div class="projects-header">
    <h3 class="text-uppercase app-text-muted m-0">Recent Projects</h3>
    <app-button color="primary" rounded (click)="createProject()"><i class="fas fa-plus"></i> New Project</app-button>
  </div>
  <div *ngIf="projects.length; else emptyState">
    <div class="row row-cols-1 row-cols-md-2 gx-5 projects-grid">
      <ng-container *ngFor="let project of projects">
        <div class="col">
          <div class="card">
            <div class="card-body" (click)="openProject(project.id)">
              <div class="d-flex align-items-start justify-content-between flex-wrap">
                <div>
                  <h5 class="m-0">{{ project.name }}</h5>
                  <span class="small app-text-muted">Last Updated: {{ project.updatedAt | date:'short' }}</span>
                  <div class="d-flex flex-wrap align-items-center gap-2">
                    <span class="small app-text-muted">Languages Used:</span>
                    <div *ngIf="project.html" class="language-indicator html">
                      <span></span> HTML
                    </div>
                    <div *ngIf="project.css" class="language-indicator css">
                      <span></span> CSS
                    </div>
                    <div *ngIf="project.js" class="language-indicator js">
                      <span></span> JS
                    </div>
                  </div>
                </div>
                <div>
                  <span class="light-border app-btn-outline-info p-1 rounded-1 me-2"
                    (click)="editProjectName(project, $event)">
                    <i class="fas fa-edit"></i>
                  </span>
                  <span class="light-border app-btn-outline-danger p-1 rounded-1"
                    (click)="deleteProject(project.id, $event)">
                    <i class="fas fa-trash"></i>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
<ng-template #emptyState>
  <p>No projects yet. Click “New Project” to start!</p>
</ng-template>