.editor-container {
  display: flex;
  height: 100vh;
}

.editors {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;

  .editor-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;

    h3 {
      margin: 0.5rem 0;
    }

    ngx-monaco-editor {
      flex: 1;
      height: 33%;
    }
  }
}

.preview {
  flex: 1;
  background: white;

  iframe {
    width: 100%;
    height: 100%;
    border: none;
  }
}