.editor-container {
  display: flex;
  height: 100vh;
}

.editors {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  border-right: 1px solid var(--color-border);

  .editor-section {
    flex: 1;
    display: flex;
    flex-direction: column;

    h3 {
      margin: 0.5rem 0;
    }

    ngx-monaco-editor {
      flex: 1;
      height: 33%;
    }
  }
}

.preview {
  flex: 1;
  background: white;

  iframe {
    width: 100%;
    height: 100%;
    border: none;
  }
}

.editor-header {
  padding: 0.25rem 1rem;
  background-color: var(--color-light);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  h6 {
    margin: 0;
  }

  span {
    cursor: pointer;
    color: var(--color-info);

    &:hover {
      color: var(--color-secondary);
    }

    &:not(:last-child) {
      margin-right: 0.5rem;
    }
  }
}