<div class="editor-container">
  <div class="editors">
    <div class="editor-section" *ngFor="let editor of EDITOR_CONFIGS">
      <div class="editor-header">
        <div>
          <h6>{{ editor.name }}</h6>
        </div>
      </div>

      <ngx-monaco-editor [options]="{ theme: 'vs-dark', language: editor.language }" [(ngModel)]="project[editor.field]"
        (ngModelChange)="onCodeChange()"></ngx-monaco-editor>
    </div>
  </div>


  <div class="preview">
    <div class="editor-header">
      <div>
        <h6>OUTPUT</h6>
      </div>
    </div>
    <iframe [src]="previewUrl" frameborder="0"></iframe>
  </div>
</div>